* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

section header .container {
  width: 1440px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#57B8FF), color-stop(44.3%, black));
  background-image: linear-gradient(to left, #57B8FF 0% 44.3%, black 44.3% 100%);
}

section header .container .s_con {
  width: 1320px;
  margin: 0 auto;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section header .container .s_con .h_img {
  width: 15%;
}

section header .container .s_con .h_span1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section header .container .s_con .h_span1 .h_link {
  margin: 25px;
  font-size: 20px;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

section header .container .s_con .h_span1 .h_link:hover {
  color: #FAC422;
}

section header .container .s_con .h_span1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section header .container .s_con .h_span1 .main_link {
  padding: 17px 35px;
  border: 1px solid white;
  font-size: 20px;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

section header .container .s_con .h_span1 .main_link:hover {
  color: #FAC422;
  border: 1px solid #FAC422;
}

section nav .container {
  width: 1440px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right top, left top, from(#57B8FF), color-stop(44.3%, black));
  background-image: linear-gradient(to left, #57B8FF 0% 44.3%, black 44.3% 100%);
  position: relative;
}

section nav .container .links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  right: 1210px;
  top: 400px;
}

section nav .container .links .link {
  color: #80858F;
  margin: 30px;
  font-size: 12px;
}

section nav .container .s_con {
  width: 1320px;
  margin: 0 auto;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section nav .container .s_con .n_box1 {
  width: 660px;
  height: 600px;
}

section nav .container .s_con .n_box1 .n_img2 {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

section nav .container .s_con .n_box1 .n_img2:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

section nav .container .s_con .n_box1 .n_text {
  font-size: 72px;
  color: white;
  font-weight: 500;
  line-height: 70px;
  margin-top: 15px;
}

section nav .container .s_con .n_box1 .n_subtext {
  color: #999999;
  font-size: 18px;
  margin-top: 50px;
}

section nav .container .s_con .n_box1 .n_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

section nav .container .s_con .n_box1 .n_span .main_link {
  padding: 20px 30px;
  font-size: 20px;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin: 5px;
  letter-spacing: 1px;
}

section nav .container .s_con .n_box1 .n_span .main_link:hover {
  background-color: #57B8FF;
}

.section2 .container {
  width: 1440px;
  margin: 0 auto;
  background-color: #fccc3e;
}

.section2 .container .s_con {
  width: 1320px;
  margin: 0 auto;
  padding-top: 75px;
  text-align: center;
}

.section2 .container .s_con .s2_text {
  font-size: 50px;
  color: #222730;
}

.section2 .container .s_con .s2_subtext {
  margin: 0 auto;
  color: #555555;
  width: 570px;
  margin-top: 40px;
}

.section2 .container .s_con .s2_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
  padding-bottom: 100px;
}

.section2 .container .s_con .s2_ul .s2_li {
  width: 195px;
  height: 90px;
  border-radius: 10px;
  background-color: #ffffff34;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 10px 10px 20px rgba(66, 63, 63, 0.479);
          box-shadow: 10px 10px 20px rgba(66, 63, 63, 0.479);
}

.section2 .container .s_con .s2_ul .s2_li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 10px 15px 22px rgba(31, 29, 29, 0.479);
          box-shadow: 10px 15px 22px rgba(31, 29, 29, 0.479);
}

.section3 .container {
  width: 1440px;
  height: 1000px;
  margin: 0 auto;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.section3 .container .s_con {
  width: 1320px;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 80px;
}

.section3 .container .s_con .s3_img {
  width: 70%;
  padding-bottom: 20px;
}

.section3 .container .s_con .s3_text {
  font-size: 60px;
  width: 800px;
  color: white;
  margin: 0 auto;
  font-weight: 400;
  line-height: 60px;
}

.section3 .container .s_con .s3_subtext {
  color: #DFDFDFCC;
  margin: 0 auto;
  width: 700px;
  margin-top: 40px;
  font-size: 20px;
}

.section3 .container .s_con .s3_ul {
  margin: 0 auto;
  margin-top: 50px;
  width: 1190px;
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .container .s_con .s3_ul .s3_card {
  width: 580px;
  height: 210px;
  border-radius: 20px;
  background-color: #FFFFFF26;
  text-align: start;
  -webkit-transition: .3s;
  transition: .3s;
}

.section3 .container .s_con .s3_ul .s3_card .s3card_text {
  font-size: 35px;
  color: white;
  font-weight: 400;
  margin: 30px;
  margin-left: 50px;
}

.section3 .container .s_con .s3_ul .s3_card .s3card_subtext {
  color: #DFDFDFCC;
  margin-left: 50px;
  margin-top: 30px;
  width: 470px;
  font-size: 18px;
  font-weight: 400;
}

.section3 .container .s_con .s3_ul .s3_card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #ffffff48;
}

.section4 .container {
  width: 1440px;
  margin: 0 auto;
  background-color: black;
}

.section4 .container .s_con {
  width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section4 .container .s_con .s4_box1 {
  width: 700px;
  height: 700px;
}

.section4 .container .s_con .s4_box1 .n_box1 {
  width: 660px;
  height: 600px;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_img2 {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_img1 {
  padding-top: 150px;
  width: 110%;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_img2:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.section4 .container .s_con .s4_box1 .n_box1 .n_text {
  font-size: 65px;
  color: white;
  font-weight: 400;
  line-height: 70px;
  margin-top: 15px;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_subtext {
  color: #999999;
  font-size: 19.6px;
  margin-top: 50px;
  width: 700px;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_span .main_link {
  padding: 20px 30px;
  font-size: 20px;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
  margin: 5px;
  letter-spacing: 1px;
}

.section4 .container .s_con .s4_box1 .n_box1 .n_span .main_link:hover {
  background-color: #57B8FF;
  -webkit-box-shadow: 0px 0px 30px 10px #57b9ffa9;
          box-shadow: 0px 0px 30px 10px #57b9ffa9;
}

.section4 .container .s_con .s4_box2 {
  width: 700px;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .container .s_con .s4_box2 .s4_img1 {
  width: 75%;
  margin-left: 150px;
}

.section5 .container {
  width: 1440px;
  margin: 0 auto;
  background-color: #2A313C;
}

.section5 .container .s_con {
  width: 1320px;
  height: 650px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 .container .s_con .s5_box1 {
  height: 650px;
  width: 50%;
}

.section5 .container .s_con .s5_box1 .s5_img {
  width: 550px;
  height: 649px;
  margin-left: 50px;
}

.section5 .container .s_con .s5_box2 {
  width: 50%;
  height: 650px;
}

.section5 .container .s_con .s5_box2 .s5_img2 {
  margin-top: 80px;
  width: 110%;
}

.section5 .container .s_con .s5_box2 .s5_text {
  font-size: 65px;
  color: white;
  font-weight: 400;
  line-height: 70px;
  margin-top: 15px;
}

.section5 .container .s_con .s5_box2 .s5_subtext {
  color: #999999;
  font-size: 19.6px;
  margin-top: 40px;
  width: 600px;
}

.section5 .container .s_con .s5_box2 .carusel {
  width: 90%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section5 .container .s_con .s5_box2 .carusel .carusel-item {
  height: 125px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.section5 .container .s_con .s5_box2 .carusel .carusel-item .carusel_img {
  width: 90%;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.section5 .container .s_con .s5_box2 .carusel .carusel-item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  background-color: #3B3D46;
}

.section6 .container {
  width: 1440px;
  margin: 0 auto;
}

.section6 .container .s6_con {
  margin: 0 auto;
  width: 1440px;
  height: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section6 .container .s6_con .s6_part_one {
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/img/IMAGE19.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.section6 .container .s6_con .s6_part_one .fa-solid {
  font-size: 100px;
  padding-bottom: 20px;
}

.section6 .container .s6_con .s6_part_one .s6_text {
  font-size: 40px;
}

.section6 .container .s6_con .s6_part_two {
  width: 34%;
  height: 100%;
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/img/IMAGE20.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.section6 .container .s6_con .s6_part_two .fa-solid {
  font-size: 100px;
  padding-bottom: 20px;
}

.section6 .container .s6_con .s6_part_two .s6_text {
  font-size: 40px;
}

.section6 .container .s6_con .s6_part_three {
  width: 34%;
  height: 100%;
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(/img/IMAGE21.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.section6 .container .s6_con .s6_part_three .fa-regular {
  font-size: 100px;
  padding-bottom: 20px;
}

.section6 .container .s6_con .s6_part_three .s6_text {
  font-size: 40px;
}

.section6 .container .s6_con .s6_part_one:hover, .section6 .container .s6_con .s6_part_two:hover, .section6 .container .s6_con .s6_part_three:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */