*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
}
body{
    font-family: 'Orbitron', sans-serif;
    // font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}


//1200px
//1024px
//770px
//480px
//320px


section{
    header{
        .container{
            width: 1440px;
            margin: 0 auto;
            background-image: linear-gradient(to left,#57B8FF 0% 44.3%,black 44.3% 100% );
            .s_con{
                width: 1320px;
                margin: 0 auto;
                padding-top: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .h_img{
                    width: 15%;
                }
                .h_span1{
                    display: flex;
                    align-items: center;
                    .h_link{
                        margin: 25px;
                        font-size: 20px;
                        color: white;
                        transition: .5s;
                    }
                    .h_link:hover{
                        color: #FAC422;
                    }
                }
                .h_span1{
                    display: flex;
                    align-items: center;
                    .main_link{
                        padding: 17px 35px;
                        border: 1px solid white;
                        font-size: 20px;
                        color: white;
                        transition: .4s;
                    }
                    .main_link:hover{
                        color: #FAC422;
                        border: 1px solid #FAC422;
                    }
                }
            }
        }
    }
    nav{
        .container{
            width: 1440px;
            margin: 0 auto;
            background-image: linear-gradient(to left,#57B8FF 0% 44.3%,black 44.3% 100% );
            position: relative;
            .links{
                position: absolute;
                display: flex;
                align-items: center;
                transform: rotate(270deg);
                right: 1210px;
                top: 400px;
                .link{
                    color: #80858F;
                    margin: 30px;
                    font-size: 12px;
                }
            }
            .s_con{
                width: 1320px;
                margin: 0 auto;
                padding-top: 200px;
                display: flex;
                align-items: center;
                .n_box1{
                    width: 660px;
                    height: 600px;                    
                    .n_img2{
                        width: 100%;
                        transition: .5s;
                    }
                    .n_img2:hover{
                        transform: scale(1.08);
                    }
                    .n_text{
                        font-size: 72px;
                        color: white;
                        font-weight: 500;
                        line-height: 70px;
                        margin-top: 15px;
                    }
                    .n_subtext{
                        color: #999999;
                        font-size: 18px;
                        margin-top: 50px;
                    }
                    .n_span{
                        display: flex;
                        align-items: center;
                        margin-top: 40px;
                        .main_link{
                            padding: 20px 30px;
                            font-size: 20px;
                            color: white;
                            transition: .4s;
                            margin: 5px;
                            letter-spacing: 1px;
                        }
                        .main_link:hover{
                            background-color: #57B8FF;
                            box-shadow: 0px 0px 30px 10px #57b9ffa9;
                        }
                    }
                }
            }
        }
    }
}

.section2{
    .container{
        width: 1440px;
        margin: 0 auto;
        background-color: #fccc3e;
        .s_con{
            width: 1320px;
            margin: 0 auto;
            padding-top: 75px;
            text-align: center;
            .s2_text{
                font-size: 50px;
                color: #222730;
            }
            .s2_subtext{
                margin: 0 auto;
                color: #555555;
                width: 570px;
                margin-top: 40px;
            }
            .s2_ul{
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 40px;
                padding-bottom: 100px;
                .s2_li{
                    width: 195px;
                    height: 90px;
                    border-radius: 10px;
                    background-color: #ffffff34;
                    transition: 0.3s;
                    box-shadow: 10px 10px 20px rgba(66, 63, 63, 0.479);
                }
                .s2_li:hover{
                    transform: scale(1.1);
                    box-shadow: 10px 15px 22px rgba(31, 29, 29, 0.479);
                }
            }
        }
    }
}

.section3{
    .container{
        width: 1440px;
        height: 1000px;
        margin: 0 auto;
        background-image: url(../img/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        .s_con{
            width: 1320px;
            margin: 0 auto;
            padding-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            padding-top: 80px;
            .s3_img{
                width: 70%;
                padding-bottom: 20px;
            }
            .s3_text{
                font-size: 60px;
                width: 800px;
                color: white;
                margin: 0 auto;
                font-weight: 400;
                line-height: 60px;
            }
            .s3_subtext{
                color: #DFDFDFCC;
                margin: 0 auto;
                width: 700px;
                margin-top: 40px;
                font-size: 20px;
            }
            .s3_ul{
                margin: 0 auto;
                margin-top: 50px;
                width: 1190px;
                height: 480px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                .s3_card{
                    width: 580px;
                    height: 210px;
                    border-radius: 20px;
                    background-color: #FFFFFF26;
                    text-align: start;
                    transition: .3s;
                    .s3card_text{
                        font-size: 35px;
                        color: white;
                        font-weight: 400;
                        margin: 30px;
                        margin-left: 50px;
                    }
                    .s3card_subtext{
                        color: #DFDFDFCC;
                        margin-left: 50px;
                        margin-top: 30px;
                        width: 470px;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
                .s3_card:hover{
                    transform: scale(1.05);
                    background-color: #ffffff48;
                }
            }
        }
    }
}

.section4{
    .container{
        width: 1440px;
        margin: 0 auto;
        background-color: black;
        .s_con{
            width: 1320px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            .s4_box1{
                width: 700px;
                height: 700px;
                .n_box1{
                    width: 660px;
                    height: 600px;                    
                    .n_img2{
                        width: 100%;
                        transition: .5s;
                    }
                    .n_img1{
                        padding-top: 150px;
                        width: 110%;
                    }
                    .n_img2:hover{
                        transform: scale(1.08);
                    }
                    .n_text{
                        font-size: 65px;
                        color: white;
                        font-weight: 400;
                        line-height: 70px;
                        margin-top: 15px;
                    }
                    .n_subtext{
                        color: #999999;
                        font-size: 19.6px;
                        margin-top: 50px;
                        width: 700px;
                    }
                    .n_span{
                        display: flex;
                        align-items: center;
                        margin-top: 50px;
                        .main_link{
                            padding: 20px 30px;
                            font-size: 20px;
                            color: white;
                            transition: .4s;
                            margin: 5px;
                            letter-spacing: 1px;
                        }
                        .main_link:hover{
                            background-color: #57B8FF;
                            box-shadow: 0px 0px 30px 10px #57b9ffa9;
                        }
                    }
                }
            }
            .s4_box2{
                width: 700px;
                height: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
                .s4_img1{
                    width: 75%;
                    margin-left: 150px;
                }
            }
        }
    }
}

.section5{
    .container{
        width: 1440px;
        margin: 0 auto;
        background-color: #2A313C;
        .s_con{
            width: 1320px;
            height: 650px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .s5_box1{
                height: 650px;
                width: 50%;
                .s5_img{
                    width: 550px;
                    height: 649px;
                    margin-left: 50px;
                }
            }
            .s5_box2{
                width: 50%;
                height: 650px;
                .s5_img2{
                    margin-top: 80px;
                    width: 110%;
                }
                .s5_text{
                    font-size: 65px;
                    color: white;
                    font-weight: 400;
                    line-height: 70px;
                    margin-top: 15px;
                }
                .s5_subtext{
                    color: #999999;
                    font-size: 19.6px;
                    margin-top: 40px;
                    width: 600px;
                }
                .carusel{
                    width: 90%;
                    height: 200px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .carusel-item{
                        height: 125px;
                        width: 33%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        transition: .3s;
                        .carusel_img{
                            width: 90%;
                            border-radius: 10px;
                            transition: .4s;
                        }
                    }
                    .carusel-item:hover{
                        transform: scale(1.08);
                        background-color: #3B3D46;
                    }
                }
            }
        }
    }
}

.section6{
    .container{
        width: 1440px;
        margin: 0 auto;
        .s6_con{
            margin: 0 auto;
            width: 1440px;
            height: 730px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .s6_part_one{
                width: 34%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url(/img/IMAGE19.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                color: white;
                transition: .4s ease;
                .fa-solid{
                    font-size: 100px;
                    padding-bottom: 20px;
                }
                .s6_text{
                    font-size: 40px;
                }
            }
            .s6_part_two{
                width: 34%;
                height: 100%;
                width: 34%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url(/img/IMAGE20.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                color: white;
                transition: .4s ease;
                .fa-solid{
                    font-size: 100px;
                    padding-bottom: 20px;
                }
                .s6_text{
                    font-size: 40px;
                }
            }
            .s6_part_three{
                width: 34%;
                height: 100%;
                width: 34%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url(/img/IMAGE21.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                color: white;
                transition: .4s ease;
                .fa-regular{
                    font-size: 100px;
                    padding-bottom: 20px;
                }
                .s6_text{
                    font-size: 40px;
                }
            }
            .s6_part_one:hover, .s6_part_two:hover, .s6_part_three:hover{
                color: black;
            }
        }
    }
}

.section7{
    .container{
        width: 1440px;
        margin: 0 auto;
        background-color: #000000;
        .s7_con{
            width: 1320px;
            margin: 0 auto;
            border: 1px solid black;
            height: 1050px;
            padding: 70px 0px;
            .s7_top_place{
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .top_left{
                    width: 500px;
                    .section_img{
                        width: 110%;
                    }
                    .section_text{
                        font-size: 60px;
                        width: 500px;
                        color: white;
                        margin: 0 auto;
                        font-weight: 400;
                        line-height: 60px;
                    }
                }
                .top_right{
                    width: 210px;
                    padding-top: 100px;
                    .section_link{
                        display: flex;
                        justify-content: center;
                        padding: 20px 0px;
                        align-items: center;
                        font-size: 20px;
                        color: white;
                        transition: .4s;
                        margin: 5px;
                        letter-spacing: 1px;
                    }
                    .section_link:hover{
                        background-color: #57B8FF;
                        box-shadow: 0px 0px 30px 10px #57b9ffa9;
                    }
                }
            }
            .s7_bottom_place{
                width: 100%;
                height: 700px;
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .bottom_left{
                    height: 700px;
                    width: 50%;
                    .section_img2{
                        width: 650px;
                        height: 510px;
                    }
                    .section_subtext{
                        color: #57B8FF;
                        font-size: 20px;
                        margin-top: 25px;
                    }
                    .section_text2{
                        font-size: 35px;
                        color: white;
                        font-weight: 400;
                        margin-top: 25px;
                    }
                }
                .bottom_right{
                    height: 700px;
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    .bottom_item{
                        width: 50%;
                        height: 50%;
                        padding: 10px;
                        .bottom_subtext{
                            color: #57B8FF;
                            font-size: 18px;
                            margin-top: 20px;
                        }
                        .bottom_text{
                            font-size: 26px;
                            color: white;
                            margin-top: 15px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}

.section8{
    .container{
        width: 1440px;
        margin: 0 auto;      
        background-image: url(../img/IMAGE27.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .s8_con{
            width: 1320px;
            margin: 0 auto;
            text-align: center;
            height: 650px;
            .section_text{
                font-size: 70px;
                font-weight: 400;
                width: 800px;
                margin: 0 auto;
                padding-top: 130px;
            }
            .section_subtext{
                width: 860px;
                color: #555555;
                margin: 0 auto;
                margin-top: 40px;
                font-size: 19px;
            }
            label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                margin-top: 60px;
                width: 600px;
                height: 75px;
                .section_inp{
                    width: 400px;
                    height: 75px;
                    font-size: 20px;
                    text-transform: capitalize;
                    padding-left: 20px;
                    border: none;
                }
                .section_link{
                    width: 200px;
                    height: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    background-color: #57B8FF;
                    font-size: 18px;
                    transition: .3s ease;
                }
                .section_link:hover{
                    box-shadow: 0px 0px 5px 5px #57b9ffa9;
                }
            }
      }
    }
}

footer{
    .container{
        width: 1440px;
        margin: 0 auto;
        background-color: #222730;
        .footer_con{
            width: 1320px;
            margin: 0 auto;
            height: 400px;
            .footer_list{
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .footer_item{
                    width: 23%;
                    height: 100%;
                    padding-top: 75px;
                    .footer_img{
                        width: 50%;
                    }
                    .footer_text{
                        color: #999999;
                        margin-top: 20px;
                        line-height: 20px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                    .footer_maintext{
                        font-size: 22px;
                        font-weight: 400;
                        color: white;
                        padding-bottom: 10px;
                    }
                    .footer_link{
                        font-weight: 400;
                        font-size: 17px;
                        color: #999999;
                        margin-top: 15px;
                        transition: .4s ease;
                    }
                    .footer_link:hover{
                        color: white;
                    }
                    .footer_texts{
                        font-size: 22px;
                        font-weight: 400;
                        color: white;
                        padding-bottom: 10px;
                    }
                    .footer_board{
                        width: 300px;
                        height: 70px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 20px;
                        .footer_items{
                            width: 60px;
                            height: 60px;
                            background-color: #383D45;
                            transition: .4s ease;
                            font-size: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 3px;
                        }
                        .footer_items:hover{
                            background-color: #999999;
                            color: white;
                        }
                    }
                }
            }
            .bottom{
                width: 1320px;
                margin: 0 auto;
                border-top: 0.1px solid #3e3e3ec9;
                text-align: center;
                padding-top: 40px;
                .bottom_text{
                    color: #898989;
                    font-size: large;
                    font-weight: 400;
                }
            }
        }
    }
}

